* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #85DCBE;
}

.head {

    background-color: teal;
    width: auto;
    height: 30px;
}

.head1 {
    margin-top: 30px;
    background-color: teal;
    width: auto;
    height: 30px;
}

header {grid-area: header;}
section {grid-area: section;}
aside {grid-area: aside;}
#main_body1 {
    display: grid;
    grid-template-areas: "header""section""aside";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    border: 1px solid black;
}

/*--------------------index2---------------------------------*/
.selected_image_models{
    border: 1px solid black;
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#a1 {grid-area: a1; max-width: 100px; margin: auto;height: 100px;}
#a2 {grid-area: a2; max-width: 100px; margin: auto;height: 100px;}
#a3 {grid-area: a3; max-width: 160px; margin: auto;height: 160px;}
#a4 {grid-area: a4; max-width: 160px; height: 160px;}
#a5 {grid-area: a5; max-width:250px; height: 160px; margin: auto;}
#a0 {
    width: 100%;
    display: grid;
    grid-template-areas: "a1 a2 a3 a4 a5";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-top: 0.5px solid black;
}

.info{
    font-size: 92%;
    background-color: WHITE;
    border: 1px solid black;
    margin-top: 2px;
    width: 70%;
    min-width: 120px;
    padding: 3px;
}

.info1{
    font-size: 92%;
    background-color: rgb(253, 200, 139);
    border: 1px solid black;
    margin-top: 2px;
    width: 70%;
    min-width: 120px;
    padding: 3px;
}

.info4{
    font-size: 92%;
    background-color: rgb(32, 255, 207);
    border: 1px solid black;
    margin-top: 2px;
    width: 70%;
    min-width: 120px;
    padding: 3px;
}

.info2{
    font-size: 92%;
    background-color: rgb(253, 245, 139);
    border: 1px solid black;
    margin-top: 2px;
    width: 70%;
    min-width: 120px;
    padding: 3px;
}

.info6{
    font-size: 92%;
    background-color: rgb(255, 180, 161);
    border: 1px solid black;
    margin-top: 2px;
    width: 70%;
    min-width: 120px;
    padding: 3px;
}

.info5{
    font-size: 92%;
    background-color: WHITE;
  
    border: 1px solid black;
    margin-top: 2px;
    width: 70%;
    min-width: 120px;
    padding: 3px;
}

.info3{
    font-size: 92%;
    background-color: rgb(181, 253, 250);
    border: 1px solid black;
    margin-top: 2px;
    width: 70%;
    min-width: 120px;
    padding: 3px;
}

#model_1 {grid-area: model_1;}
#model_2 {grid-area: model_2;}
#model_3 {grid-area: model_3;}
#model_4 {grid-area: model_4;}
#model_5 {grid-area: model_5;}
.model_results{margin-top: 10px; margin-bottom: 10px;}
#aside1 {
    width: 100%;
    display: grid;
    grid-template-areas: "model_1 model_2 model_3 model_4 model_5";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.desert, 
.mountains, 
.sea, 
.sunset, 
.trees {
    background-color: rgb(185, 255, 195);
    border: 0.5px solid black;
    margin-top: 2px;
    width: 40%;
    min-width: 120px;
    padding: 3px;
}
.models{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
h3 {
    margin-top: 10px;
    font-size: 150%;
    text-align: center;
    text-decoration: underline;
}
h5 {
    margin-top: 10px;
    font-size: 120%;
    text-align: center;
    text-decoration: underline;
}



#results {
    width: 100%;
    height: 100%;
    grid-area: results;
}

#imageselected {
    width: 100%;
    height: 100%;
    grid-area: imageselected;
}

#box_section {
    display: grid;
    grid-template-areas: "imageselected results";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-bottom: 1px solid black;
}

#imageselected1 {
    width: 100%;
    height: 100%;
    grid-area: imageselected1;
}

#box_section1 {
    display: grid;
    grid-template-areas: "imageselected1";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-bottom: 1px solid black;
}






#selected_image {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 30px;
    margin-right: 5%;
}

#conresult {
    margin-top: 10px;
    margin-bottom: 10px;
}




#desert,
#mountains,
#sea,
#sunset,
#trees {
    background-color: rgb(185, 255, 195);
    border: 1px solid black;
    margin-top: 2px;
    margin-left: 5%;
    width: 30%;
    min-width: 120px;
    padding: 3px;
}







header {
    width: 100%;
}

#predict_button {
    border: 1px solid black;
    background-color: #256d85;
    color: white;
    margin: 5px;
    width: 20%;
    padding: 5px;
    border-radius: 10px;
    font-size: 100%;
}

#predict_button:hover {
    background-color: #5a97ac;
}

#image_select {
    border: 1px solid black;
    border-radius: 2px;
    background-color: #256d85;
    color: white;
    margin: 5px;
    width: 20%;
    padding: 2px;
    font-size: 80%;
}

#box_header {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#box_header .item:first-child {
    margin-left: 40%;
}

#box_header .item:last-child {
    margin-left: 40%;
}

h1 {
    font-size: 150%;
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin-top: 50px;
    font-size: 150%;
    text-align: center;
    text-decoration: underline;
}

footer {
    background-color: rgb(65, 196, 196);
}

.img_history {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: right;
    margin-top: 30px;
    margin-right: 5%;
}

.histresults {
    width: 100%;
    height: 100%;
    grid-area: histresults;
}

#histimg {
    width: 100%;
    height: 100%;
    grid-area: histimg;
}

.test {
    border-bottom: 1px solid black;
    margin-top: 10px;
    display: grid;
    grid-template-areas: "histimg histresults";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.message {
    padding-top: 5px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}